<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="SSI-html" path="*.html" verb="*" modules="ServerSideIncludeModule" resourceType="Unspecified" />
        </handlers>
    </system.webServer>
</configuration>

<system.webServer>
 
   <!-- Add correct content-type for fonts -->
   <staticContent>
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".ttf" mimeType="font/ttf" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
   </staticContent>
 
   <!-- Compress compressible fonts -->
   <httpCompression>
      <scheme name="deflate" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <staticTypes>
         <add mimeType="font/ttf" enabled="true" />
         <add mimeType="font/otf" enabled="true" />
         <add mimeType="image/svg+xml" enabled="true" />
      </staticTypes>
   </httpCompression>
 
   <!-- Add a far future Expires header for fonts -->
   <!-- (There doesn't appear to be a way to do this for individual types, or to set based on access time, so we're setting it to 1 year in the future for all static content) -->
   <staticContent>
      <clientCache httpExpires="Mon, 24 Jan 2012 00:00:00 GMT" cacheControlMode="UseExpires" />
   </staticContent>
 
</system.webServer>